@CHARSET "UTF-8";

html{
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url("../img/banner.png");
	background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-position: center 50%;
}
body>div{
	margin: 100px auto 0;
	width: 94%;
	max-width: 400px;
	box-shadow: 0 0 60px rgba(0,0,0,.3) !important;
}
form{
	text-align: center;
}
input{
	margin-bottom: 15px;
}
button{
	width: 120px;
}
